<html>
<head><title>Welcome to {{ ansible_hostname }} </title> </head>
<body>
<h1> Welcome to {{ ansible_hostname }} </h1>
<iframe width="400" height="300"
    src="https://www.youtube.com/embed/a3ICNMQW7Ok?controls=0">
</iframe>
</body>
</html>

